html {
  font-family: Roboto;
}

body {
  margin: 0;
}

body > header {
  background: lightgray;
  padding: 20px;
}

p {
  line-height: 1.2em;
  word-spacing: 5px;
}

section {
  padding-bottom: 30px;
}

section>header {
  text-align: center;
  padding: 5px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  letter-spacing: 1px;
}

h1 {
  color: #333;
  text-align: center;
}

video {
  display: block;
}

p::first-letter {
  font-size: 1.5em;
}

p::first-line {
  font-weight: bold;
}

p::selection {
  color: white;
  background-color: lightgreen;
}
