
table {
  border-collapse: collapse;
}

table thead th {
  font-weight: bold;
  background-color: lightgreen;
}

table tr:nth-child(2n) td {
  background-color: lightcoral;
}

table tr:nth-child(2n + 1) td {
  background-color: lightblue;
}
