table {
  border-collapse: collapse;
  thead th {
    font-weight: bold;
    background-color: lighten($green, 10%);
  }
  tr {
    &:nth-child(2n) td {
      background-color: lighten($red, 10%);
    }
    &:nth-child(2n + 1) td {
      background-color: lighten($blue, 10%);;
    }
  }
}
