$grey-base: rgba(0, 0, 0, 0.5);
$grey-darkest: opacify($grey-base, 0.4);
$grey-darker: opacify($grey-base, 0.3);
$grey-dark: opacify($grey-base, 0.2);
$grey-light: transparentify($grey-base, 0.2);
$grey-lighter: transparentify($grey-base, 0.3);
$grey-lightest: transparentify($grey-base, 0.4);

$black: #333;
$white: rgb(236, 236, 236);

$red: rgb(206, 14, 14);
$blue: #838bf7;
$green: #c2ff90;
$yellow: #fff570;
$teal: rgba(0, 128, 128, 0.3);

$primary: $blue;
$success: $green;
$alert: $yellow;
$info: $teal;
$danger: $red;

$bg-personal: teal;
$bg-resume: #faebd7;
$bg-experience: #a9a9a9;

$font-family-base: Roboto;

$large-gap: 25px;
$medium-gap: 20px;
$base-gap: 15px;
$small-gap: 10px;

$box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
$inverse-text-color: $white;

// RESPONSIVE
/* 320 watch */ /* <= aun mas pequeña! */
/* 680 mobile */ /* <= pequeña! */
/* 1024 tablet */
/* 1400 desktop */
$watch: 320px;
$mobile: 680px;
$tablet: 1024px;
$desktop: 1400px;


// ANIMATIONS
$timing-slower: 1s;
$timing-slow: 0.5s;
$timing-base: 0.3s;
$timing-fast: 0.2s;
$timing-faster: 0.1s;
